/Abstractions/obj
/Abstractions/bin
/Domain/obj
/Domain/bin
/Api/obj
/Api/bin
/Api/database-config.json
/Api/jwt-config.json
/Api/outbox-auth-config.json
/Api/Properties/launchSettings.json
/Api/Properties/PublishProfiles/*.pubxml
/OutboxHandler/obj
/OutboxHandler/bin
/OutboxHandler/email-config.json
/OutboxHandler/outbox-client-config.json
/OutboxHandler/Properties/launchSettings.json
/OutboxHandler/Properties/PublishProfiles/*.pubxml
/Domain/obj
/Domain/bin
/Domain.Contracts/obj
/Domain.Contracts/bin
/Infrastructure/obj
/Infrastructure/bin
/Infrastructure.Contracts/obj
/Infrastructure.Contracts/bin
/Db/obj
/Db/bin
/Db/*.publish.xml
/Db/*.refactorlog
*.user
.vs
*.dbmdl
*.jfm
