/Abstractions/obj
/Abstractions/bin
/Domain/obj
/Domain/bin
/Api/obj
/Api/bin
/Api/database-config.json
/Api/jwt-config.json
/Api/Properties/launchSettings.json
/Api/Properties/PublishProfiles/*.pubxml
/Notification.Api/obj
/Notification.Api/bin
/Notification.Api/database-config.json
/Notification.Api/email-config.json
/Notification.Api/Properties/launchSettings.json
/Notification.Api/Properties/PublishProfiles/*.pubxml
/Domain/obj
/Domain/bin
/Domain.Contracts/obj
/Domain.Contracts/bin
/Infrastructure/obj
/Infrastructure/bin
/Infrastructure.Contracts/obj
/Infrastructure.Contracts/bin
/Db/obj
/Db/bin
/Db/*.publish.xml
/Db/*.refactorlog
*.user
.vs
*.dbmdl
*.jfm
